@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./home.scss";
@import "./detail.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/font/Figtree-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/font/Figtree-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/font/Figtree-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/font/Figtree-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../assets/font/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../assets/font/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../assets/font/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../assets/font/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/font/Sora-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/font/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Figtree";
}



.text-eagerness {
  background: linear-gradient(94deg, #F4B6CC 0%, #F161C9 46.87%, #912CC1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-item-nft {
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid #ff816e;
    background: linear-gradient(180deg, rgba(255, 129, 110, 0.2) 32.47%, rgba(0, 0, 0, 0) 100%), #201926;
    box-shadow: 9px 13px 30px 14px rgba(199, 103, 92, 0.2);
  }
}
